<footer class="footer">
    <div class="footer-content-wrapper">
        <div class="footer-content" style="display: block">
            <img style="display: block" src= {{grayLogo}}  alt="colonies-logo" />
            <div style="display: block" class="footer-links">
                <a href="#" class="footer-link text-bold">Terms & Conditions</a>
                <a href="#" class="footer-link text-bold">Privacy Policy</a>
                <a href="#" class="footer-link text-bold">Return Policy</a>
            </div>
            </div>
            <p style="display: block" class="reserved">copyright ©Banka 2022 - all rights reserved.</p>
        </div>
    </div>
</footer>