<footer class="footer" style="border: 1px solid red;">
    <div class="footer-content-wrapper" style="border: 1px solid blue;">
      <div class="footer-content" style="border: 1px solid green;">
        <div style="display: block">
          <img style="display: block" width="65px" height="70px" class="logo" src= {{logo}}  alt="banka-logo" />
          <div style="display: block" class="footer-links">
            <a href="#" class="footer-link text-bold">Terms & Conditions</a>
            <a href="#" class="footer-link text-bold">Privacy Policy</a>
            <a href="#" class="footer-link text-bold">Return Policy</a>
          </div>
        </div>
        <p style="display: block" class="reserved">copyright ©Banka 2022 - all rights reserved.</p>
      </div>
    </div>
</footer>