<footer class="container-lg">
  <div class="d-flex flex-column align-items-center">
    <img />
    <div class="row w-100" style="font-family: 'Outfit', sans-serif">
      <a
        class="col fs-3"
        style="
          text-decoration: none;
          color: #64748b;
          font-style: normal;
          font-weight: 700;
          line-height: 140.62%;
        "
        >Terms & Conditions</a
      >
      <a
        class="col fs-3"
        style="
          text-decoration: none;
          color: #64748b;
          font-style: normal;
          font-weight: 700;
          line-height: 140.62%;
        "
        >Privacy Policy</a
      >
      <a
        class="col fs-3"
        style="
          text-decoration: none;
          color: #64748b;
          font-style: normal;
          font-weight: 700;
          line-height: 140.62%;
        "
        >Return Policy</a
      >
    </div>

    <p
      class="text-sm fs-6 mt-5"
      style="
        text-decoration: none;
        color: #64748b;
        font-style: normal;
        font-weight: 600;
        line-height: 140.62%;
      "
    >
      copyright ©Keusk 2022 - all rights reserved
    </p>
  </div>
</footer>
